<!DOCTYPE html>
<html>

<head>
    <title> Personal Web </title>
    <link rel="icon" href="/img/twitter.png" />
    <link rel="stylesheet" href="/css/style.css" />
    <link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">


</head>

<body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="/img/logo.png" alt="Personal web" width="50" >
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="index.hbs">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="blog.hbs">Blog</a>
                    </li>

                    <li class="nav-item ">
                        <a class="nav-link" href="testimonials.hbs">Testimonials</a>
                    </li>


                </ul>
                <a class="btn btn-crimson" href="contact.hbs">Contact Me</a>
            </div>
        </div>
    </nav>
   

    <!-- Blog Detail Section -->
    <article class="blog_detail">
        <h1> Pasar Coding di Indonesia</h1>

        <p>30 Jan 2025 11:25 WIB | Shofiyatunnisa </p>

        <img src="/img/bg.png" alt="blog_image">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor ad, saepe eligendi laboriosam quam odit nisi!
            Consequatur hic aliquam qui ratione ea corrupti repellat repellendus molestiae autem. Laboriosam
            necessitatibus accusamus similique, optio sint quisquam voluptas. Tempore ut doloribus quod aspernatur
            aliquam totam eius, itaque repellendus, praesentium culpa quos suscipit impedit perspiciatis ipsa optio
            quidem quia quam obcaecati nisi! Exercitationem quas doloremque totam rerum minus vero quidem deleniti nam
            asperiores excepturi enim, obcaecati, vitae consectetur quod ducimus? Quam repellat pariatur doloribus
            voluptate soluta numquam et quaerat ab, velit error assumenda mollitia, expedita dignissimos, corrupti nemo?
            Provident ipsa praesentium nam modi saepe amet assumenda error esse ab dolor neque facilis, aliquam iure
            odit nesciunt, dolorum voluptatem quibusdam eos consequuntur, accusamus accusantium iusto delectus! Unde
            quaerat eum ipsam illum reiciendis nam nihil quia hic ad? Vero consequatur ex voluptates? Doloremque
            officia, fugit et dolorum unde, autem adipisci rem, accusantium sunt enim non
        </p>

    </article>
</body>
<script src="/js/bootstrap/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>


</html>