{{#> layout currentPage="Edit Blog"}}


<!-- Edit blog -->
<form id="create-blog" action="/blog-update/{{blog.id}}?_method=PATCH" method="post" class="create_blog_form">
    <h1>Edit Blog</h1>

    <div class="input-group mb-3">
        <!-- <span class="input-group-text" id="title">Title</span> -->
        <input name="title" id="title" type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="title" placeholder="Title" value="{{blog.title}}" />
    </div>

    <div class="input-group mb-3">
        {{!-- <span class="input-group-text">Content </span> --}}
        <textarea name="content" placeholder="Content" id="content" class="form-control" aria-label="content" rows="6"
            required>{{blog.content}}</textarea>
    </div>

    <div class="input-group mb-3">
        <input name="image" type="file" class="form-control" id="image">
        <label class="input-group-text" for="image">Upload</label>
    </div>
    <div class="button_container">
        <button type="submit">Save</button>
    </div>

</form>
<script src="/js/blog.js"></script>

{{/layout}}