<!DOCTYPE html>
<html>

<head>
    <title> Personal Web </title>
    <link rel="icon" href="/img/twitter.png" />
    <link rel="stylesheet" href="/css/style.css" />
    <link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

</head>

<body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="/img/logo.png" alt="Personal web" width="50">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="index.hbs">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="blog.hbs">Blog</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="testimonials.hbs">Testimonials</a>
                    </li>


                </ul>
                <a class="btn btn-crimson" href="contact.hbs">Contact Me</a>
            </div>
        </div>
    </nav>
    <div id="mobile_menu_list" class="mobile_menu_list mobile_menu_hide">
        <a href="index.hbs">Home</a>
        <a href="blog.hbs" class="menu_active">Blog</a>
        <a href="contact.hbs">Contact Me</a>

    </div>

    <!-- Create blog -->
    <form id="create_blog" class="create_blog_form" onsubmit="addBlog(event)">
        <h1>Create Blog</h1>

        <div class="input-group mb-3">
            <!-- <span class="input-group-text" id="title">Title</span> -->
            <input id="title" type="text" class="form-control" aria-label="Sizing example input"
                aria-describedby="title" required placeholder="Title">
        </div>

        <div class="input-group mb-3">
            {{!-- <span class="input-group-text">Content </span> --}}
            <textarea placeholder="Content" id="content" class="form-control" aria-label="content" rows="6"></textarea>
        </div>
        <!-- <div class="form_field">
            <label for="image"> Upload Image</label>
            <input id="image" type="file" required>
        </div> -->
        <div class="input-group mb-3">
            <input type="file" class="form-control" id="image">
            <label class="input-group-text" for="image">Upload</label>
          </div>
        <div class="button_container">
            <button type="submit">Submit</button>
        </div>

    </form>

    <hr style="width: 90%; margin: 0 auto;">

    <!-- Blog List -->
    <section id="blog_list" class="blog_list">

        <article class="blog_item">
            <div class="blog_item_img"></div>
            <img src="/img/bg.png" alt="">
            <div class="blog_item_text">
                <div class="blog_item_button">
                    <button class="blog_edit_button">Edit Blog</button>
                    <button class="blog_post_button">Post Blog</button>
                </div>
                <a href="blog_detail.hbs" class="blog_item_title" style="text-decoration: none;">
                    <h1>Pasar Coding di Indonesia</h1>

                </a>
                <p>30 Jan 2025 11:25 WIB | Shofiyatunnisa </p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga sapiente eaque nobis saepe impedit
                    veritatis dolorum esse nostrum suscipit velit doloremque asperiores iure neque sunt ipsum, modi
                    laudantium, nemo perspiciatis ducimus dolore illum veniam beatae. Dolores distinctio facere officiis
                    magnam?
                </p>
                <p class="blog_item_relative_time">1 day ago</p>

            </div>
        </article>
    </section>

    <script src="/js/blog.js"></script>
    <script src="/js/navbar.js"></script>
    <script src="/js/bootstrap/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>
</body>

</html>